body {
    margin: 0;
    display: flex;
    background-color: #0c1224;
}

.container {
    padding: 30px;
}

.passwords {
    margin: 0;
    justify-content: space-around;
    display: inline;
}

.controlButtons {
    padding-bottom: 12px;
    border-bottom: 1px solid;
    border-color: #96999e;
}

h1 {
    font-family: system-ui;
    color: white;
}

h2 {
    margin-top: -29px;
    font-size: 33px;
    font-family: system-ui;
    color: #38a87b;
}

h3 {
    margin-top: -20px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    font-family: system-ui;
}

h4 {
    color: #8b8d94;
}

p {
    color: white;
    background-color: #2b3a66;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 20px;
    text-align: center;
}

button {
    margin-top: 10px;

    background-color: #38a87b;
    border-radius: 5px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: system-ui;
}
